<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{%static 'css/templatemo-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <header class="text-center tm-site-header">
                    <div class="tm-site-logo"></div>
                    <h1 class="pl-4 tm-site-title">WinLoad</h1>
                </header>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        </div>


  </body>
</html>
