
    {% extends 'ytsearch/base.html' %}

    {% block content %}
    {% load static %}
    {% include 'ytsearch/search.html' %}

            {% if videos %}

                {% for i in videos %}
            <div class="row tm-section-mb">
                <div class="col-lg-12">
                    <div class=" tm-timeline-item">
                        <div class="tm-timeline-item-inner">
                            <img src="{{ i.thumb }}" alt="Image" class="img-thumbnail tm-img-timeline">
                            <div class="tm-timeline-connector">
                                <p class="mb-0">&nbsp;</p>
                            </div>
                            {% if not error %}
                            <div class="tm-timeline-description-wrap">
                                <div class="tm-bg-dark tm-timeline-description">
                                    <h3 class="tm-text-green tm-font-400">{{ i.name }}</h3>
                                    <p>{{ i.desc }}</p>
                                    <p class="tm-text-green float-right mb-0">
                                        <form method="post" action="{% url 'download' %}">{% csrf_token %}
                                      <!-- <p><a href="{% url 'download' %}" rel="modal:open" name="sassy" class="btn btn-primary" value="{{ i.id }}">download</a></p> -->
                                      <button name="savage" type="submit" value="{{ i.id }}" class="btn btn-primary">download</button>
                                      </form>
                                    </p>
                                    <div id="ex1" class="modal">
                                      <p class="text-info">
                                     <img src="{{ i.thumb }}"> </p>
                                     <p><h5>{{ i.desc }}</h5></p>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <p>{{ error }}</p>
                            {% endif %}
                        </div>
                    <div class="tm-timeline-connector-vertical"></div>
                    </div>
                {% endfor %}

            {% endif %}
                </div>
            </div>
        <hr>

{% endblock %}

